---
import Layout from '../components/Layout.astro';
---

<Layout title="Astro Quickstart">
	<main>
    <div id="content">
      <div id="background">
          <!-- Contenido de la página aquí -->
      </div>
      <div class="header">
        
      </div>
    </div>
	</main>
</Layout>
<script>

const fondo = document.querySelector('#background');

window.addEventListener('mousemove', (event) => {
    const mouseX = event.clientX / window.innerWidth;
    const mouseY = event.clientY / window.innerHeight;

    fondo.style.transform = `translate(-${mouseX * 50}px, -${mouseY * 50}px)`; // Ajusta la velocidad de movimiento aquí
});
</script>