---
import Layout from '../components/Layout.astro';
---

<Layout title="Innguia">
	<main>
    <div id="content">
      <div id="background">
          <!-- Contenido de la página aquí -->
      </div>
      <div class="header">
      <h1 class="text-white">Innguia</h1>
      <p class="text-white">Empoderamos a las personas a que sean mejores aprovechando las herramientas tecnológicas.</p>
      </div>
      <div class="social .social-container">
        <a href="https://www.instagram.com/innguiaco/" target="_blank" class=" text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
  <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"></path>
</svg>
</a>
        <a href="https://www.facebook.com/innguiaco" target="_blank" class="icon_social text-white mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" class="o--icon--lg" data-test-id="lib-facebook"><path d="M16.662 1.75c-1.742 0-3.246.531-4.303 1.58-1.056 1.05-1.63 2.587-1.63 4.474v2.468H7.532a.533.533 0 00-.533.532v4.261a.533.533 0 00.533.533h3.195v10.12a.533.533 0 00.533.532h4.26a.532.532 0 00.533-.533v-10.12h3.729a.533.533 0 00.528-.465l.533-4.261a.532.532 0 00-.529-.6h-4.26v-2.13c0-.594.47-1.065 1.065-1.065h3.195a.533.533 0 00.533-.533V2.467a.533.533 0 00-.463-.528c-.47-.062-2.17-.189-3.723-.189zm0 1.065c1.298 0 2.553.104 3.12.157v3.039H17.12c-1.17 0-2.13.96-2.13 2.13v2.663a.533.533 0 00.532.533h4.19l-.4 3.196h-3.79a.533.533 0 00-.533.532v10.12h-3.196v-10.12a.533.533 0 00-.532-.532H8.065v-3.196h3.196a.533.533 0 00.533-.533v-3c0-1.675.49-2.897 1.316-3.719.827-.821 2.023-1.27 3.552-1.27z"></path></svg></a>
        <a href="https://www.youtube.com/channel/UCMr1LgW4-MF3S1ExnxFgZdQ" target="_blank" class="icon_social text-white mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" class="o--icon--lg" data-test-id="lib-youtube"><path d="M13.917 5.25c-3.753 0-7.277.284-9.154.682-1.25.284-2.331 1.137-2.558 2.445-.226 1.363-.455 3.41-.455 5.969 0 2.558.226 4.547.51 5.969.23 1.25 1.309 2.16 2.559 2.444 1.992.398 5.4.682 9.153.682s7.162-.284 9.151-.681c1.253-.285 2.332-1.137 2.558-2.445.23-1.422.514-3.467.569-6.025 0-2.558-.284-4.605-.569-6.027-.226-1.25-1.305-2.16-2.558-2.445-1.99-.284-5.456-.568-9.206-.568zm0 1.137c4.092 0 7.388.34 8.98.624.853.229 1.534.797 1.648 1.537.341 1.818.568 3.752.568 5.742-.055 2.443-.34 4.432-.568 5.854-.17 1.079-1.306 1.42-1.648 1.536-2.047.398-5.458.68-8.87.68-3.41 0-6.876-.227-8.866-.68-.853-.228-1.535-.797-1.648-1.536-.455-1.592-.626-3.695-.626-5.798 0-2.616.229-4.548.455-5.74.171-1.082 1.364-1.424 1.648-1.537 1.876-.398 5.345-.682 8.927-.682zm-3.071 3.41v9.096l7.958-4.547-7.958-4.548zm1.137 1.935l4.547 2.614-4.547 2.613v-5.227z"></path></svg></a>
        <a href="wa.me/573116794637" target="_blank" class="icon_social text-white mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" class="o--icon--lg" data-test-id="lib-whatsapp"><path d="M14 1.75C7.24 1.75 1.75 7.24 1.75 14c0 2.173.596 4.2 1.59 5.97l-1.57 5.604a.533.533 0 00.64.66l5.844-1.448c1.717.917 3.665 1.464 5.746 1.464 6.76 0 12.25-5.49 12.25-12.25S20.76 1.75 14 1.75zm0 1.065A11.177 11.177 0 0125.185 14 11.177 11.177 0 0114 25.185c-1.982 0-3.839-.517-5.453-1.42a.533.533 0 00-.388-.052L3.042 24.98l1.372-4.896a.533.533 0 00-.053-.415A11.12 11.12 0 012.815 14 11.177 11.177 0 0114 2.815zM9.549 7.61c-.342 0-.83.127-1.23.558-.24.26-1.243 1.236-1.243 2.954 0 1.79 1.242 3.335 1.392 3.533h.001v.001a16.877 16.877 0 001.6 1.962c.96 1.012 2.311 2.18 3.987 2.895a18.9 18.9 0 001.843.672c.854.269 1.633.228 2.218.142.438-.065.92-.275 1.396-.576.477-.302.944-.677 1.15-1.247.147-.408.222-.786.25-1.096.013-.155.015-.293.005-.42-.01-.126 0-.223-.118-.418-.248-.407-.529-.417-.822-.562a98.57 98.57 0 00-1.09-.529c-.465-.221-.867-.417-1.115-.505-.157-.057-.348-.138-.623-.107-.276.032-.548.23-.706.466-.15.222-.755.936-.94 1.146l-.06-.03c-.227-.113-.506-.21-.919-.427a7.606 7.606 0 01-1.494-1.037v-.001c-.84-.74-1.43-1.67-1.615-1.982.012-.014-.002.004.025-.022l.001-.002c.19-.187.358-.41.5-.574.202-.232.291-.437.387-.628.192-.381.085-.8-.026-1.022.008.015-.06-.135-.133-.308l-.266-.636c-.2-.479-.422-1.015-.555-1.33-.155-.37-.367-.638-.642-.766-.276-.129-.52-.092-.53-.093h-.001a14.096 14.096 0 00-.627-.011zm0 1.065c.205 0 .408.002.577.01.175.009.164.01.13-.006s.012-.021.111.214c.13.308.354.847.554 1.327l.268.642c.075.176.116.275.162.369l.002.002c.046.09.042.033.026.064-.113.224-.128.278-.242.41-.173.199-.35.421-.443.513-.082.08-.23.206-.321.45-.093.246-.05.582.099.834.197.334.846 1.391 1.855 2.28a8.71 8.71 0 001.701 1.18c.473.25.858.396.945.439.204.1.428.18.688.148.26-.03.485-.189.628-.35V17.2c.19-.216.755-.86 1.026-1.258.012.004.008.001.098.033v.001h.001c.041.015.556.246 1.015.464.46.22.926.447 1.077.522.219.108.322.178.349.179.001.046.003.097-.004.174-.018.214-.075.51-.19.827-.056.155-.348.476-.717.709-.368.233-.817.397-.983.422-.5.074-1.092.1-1.743-.104a17.82 17.82 0 01-1.744-.636c-1.478-.63-2.735-1.703-3.632-2.648a15.81 15.81 0 01-1.064-1.245c-.256-.332-.367-.505-.46-.628h-.001c-.165-.219-1.176-1.624-1.176-2.89 0-1.34.623-1.866.96-2.229a.631.631 0 01.448-.218z"></path></svg></a>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <a href="https://forms.gle/Yt2GVsG1n9ZEpg2t7">
          <img style="display:block" src="/macro100.png" class="img_marcro" width="200px" max-width="200px" loading="lazy"/>
          <br>
          <button style="margin: 0 auto;display:block;text-decoration: underline;" class="btn_marcro btn">Agendar cita</button>
        </a>
      </div>
    </div>
	</main>
</Layout>
<script>

const fondo = document.querySelector('#background');

window.addEventListener('mousemove', (event) => {
    const mouseX = event.clientX / window.innerWidth;
    const mouseY = event.clientY / window.innerHeight;

    fondo.style.transform = `translate(-${mouseX * 50}px, -${mouseY * 50}px)`; // Ajusta la velocidad de movimiento aquí
});
</script>